@CHARSET "UTF-8";

ul, li {
    margin: 0px;
    padding: 0px;
}

body {
    color: #8A8985; /* teksto spalva */
    font-family: Arial, Helvetica, sans-serif; /* šriftas */
    font-size: 16px; /* teksto dydis */
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(39,82,112,0.9752101524203431) 35%, rgba(0,212,255,1) 100%);
}

a {
    color: #fafafa;
    font-size: large;
}

#footerText{
    color: #3fef33;
    margin-top: 10px;
    font-family: sans-serif;
    font-size: larger;
}

/* pagrindinis puslapio blokas */
#body {
    width: 900px;
    margin: 0px auto; /* bloko centravimas puslapio viduje */
}

/* viršutinė puslapio dalis */
#header {
    width: 900px;
    height: 70px;
    /* background-color: #fff; */
    border: 1px solid silver; /* rėmelis */
    float: left;
}

#slogan {
    margin: 15px 0px 0px 15px;
    color: darkgoldenrod;
    font-size: 36px;
}


/* turinio blokelis */
#content {
    width: 900px;
    background-color: #00ddb6;
    border-left: 1px solid silver;
    border-right: 1px solid silver;
    float: left;
    /*background: rgba(197, 226, 163, 0.6)*/
    background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(4,3,0,1) 100%);
}

/* pagrindinio meniu blokelis */
#topMenu {
    width: 900px;
    height: 40px;
    border-bottom: 1px solid silver;
    float: left;
    /*background-color: #faebd7;*/
    /*background: rgba(255,235,215,0.9)*/
    background: linear-gradient(7deg, rgba(2,0,36,1) 0%, rgba(39,112,85,0.9752101524203431) 38%, rgba(0,212,255,1) 100%);
}

#topMenu li {
    float: left; /* nustatome horizontalųjį meniu punktų lygiavimą */
    list-style: none; /* paslepiame sąrašo stiliaus savybes */
    margin: 12px 15px 12px 15px; /* nustatome meniu punktų ribas */
}

#topMenu li a {
    text-decoration: none; /* paslepiame nuorodos pabraukimą */
}

#topMenu li a:hover {
    text-decoration: underline; /* nustatome nuorodos pabraukimą užvedus pele */
}

#topMenu li a.active {
    text-decoration: underline; /* nustatome aktyvaus meniu punkto pabraukimą */
}


/* kairysis puslapio blokelis */
#contentLeft {
    width: 150px;
    float: left; /* blokelio pozicija */
}

#contentLeft li {
    list-style: none;
    margin: 10px 0px 10px 25px;
}

#contentLeft li a {
    text-decoration: none;
}

#contentLeft li a:hover {
    text-decoration: underline;
}

#contentLeft li a.active {
    text-decoration: underline; /* nustatome aktyvaus meniu punkto pabraukimą */
}

#contentLeft h2 {
    font-size: 26px;
    font-weight: bolder;
    color: rgb(18, 75, 85);
    letter-spacing: -0.5px;
    margin: 10px 0px 0px 18px;
}


/* turinio blokelis */
.contentRight {
    width: 749px;
    background-color: #f5f5dc;
    background: rgba(245,245,220,0.7);
    min-height: 470px; /* minimalus blokelio aukštis */
    border-left: 1px solid silver;
    float: left; /* blokelio pozicija */
}

h2#pageTitle {
    font-size: 40px;
    margin: 10px 0px 0px 15px;
    font-weight: bold;
}

.newsItem {
    border-bottom: 1px solid silver;
}

.newsItemLast {
    border: 0px;
}

#contentRight p {
    margin-left: 15px;
    margin-right: 15px;
}

.newsItem p#title {
    font-weight: bold;
    font-style: italic;
}
.newsItem p.title {
    font-weight: bold;
    font-style: italic;
}

/* apatinė puslapio dalis */
#footer {
    width: 900px;
    height: 40px;
    border: 1px solid silver;
    float: left;
    /*background-color: #6E6E6E;*/
    background: linear-gradient(176deg, rgba(2,0,36,1) 0%, rgba(57,39,112,0.6474790599833684) 61%, rgba(0,212,255,1) 100%);
    color: #fff;
}
/* nustatomas flex konteineris su juodu fonu */
.flex-container {
    display: flex;
    background: linear-gradient(167deg, rgba(2,0,36,1) 0%, rgba(39,112,85,0.9752101524203431) 38%, rgba(0,212,255,1) 100%);
}

/* nustatomas logotipo pozicija */
.flex-container div#image{
    margin-left: auto;
    padding: 10px;
}

/* nusttatomas logotipo dydis */
.flex-container div#image img#logoImg{
    width: 100px
}

#glowing {
    color: #fff;
    background-image: url('CSSimages/cia.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0px;
}

#apie {
    background-image: url('CSSimages/dontunderstand.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0px;
}

div {
    color: #000000;
}

table, td{
    border: 1px solid black;
}

table tr:nth-child(even){
    background-color: #dad9d4;
}
table tr:nth-child(odd){
    background-color: white;
}

table tr:hover{
    background-color: azure;
}
